* { 
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  display: grid;
  grid-template-areas:
  "list header header header header"
  "list main main main ann"
  "list main main main trend";

  grid-template-columns: 1fr 2fr 2fr 2fr 1.5fr;
  grid-template-rows: auto repeat(2, 1fr);
  height: 100vh;
}


.homeLogo { 
  grid-area: logo;
  display: grid;
  background-color: rgb(139, 158, 243);
  align-self: start;
  margin-bottom: 20px; 
  grid-template-columns: auto 1fr;
  color: white;
  font-size: 20px;
  
}

.sideBar {
  grid-area: list;
  background-color: rgb(139, 158, 243);
  padding: 10px;
  grid-template-columns: auto 1fr; /* add this line */
  
} 

.sideBar .list a {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  color: inherit;
  margin-bottom: 15px; /* add this line */
}


.logoText { 
  align-self: center;
  margin-left: -5px;
}

.list { 
  grid-area: list; 
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  color: white;
}

.list a {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  color: inherit; 
  font-weight: bold;
  
}

.list a svg { 
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: white;
}

.homeLogo svg { 
  margin-right: 10px;
  width: 50px;
  height: 50px;
  fill: white;
}


.headerBar {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "search search search alert"
    "greet greet create create";
  grid-template-columns: auto 3fr 1fr auto;
  grid-template-rows: 1fr 1fr;
  background-color: #393f4d;
  color: black;
  padding: 10px;
  background-color: #FFFFFF; 
  border-bottom: 2px solid lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* new shadow style */

}

.search-container {
  grid-area: search;
  display: flex;
  align-items: center; 
  margin-left: 15px;
} 

.search-container svg { 
  width: 30px;
  height: 30px;
}

.search-container input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  outline: none;
  width: 20rem;
  background-color: lightgray;
}

.alert {
  display: flex;
  grid-area: alert;
  align-items: center;
  gap: 30px; 
  padding: 10px;
} 

.alert #name { 
  font-weight: bold;
  margin-right: 30px;

}

.alert svg { 
  width: 30px;
  height: 30px;
}

.greet { 
  display: flex;
  grid-area: greet;
  padding: 1%;
  justify-content: flex-start;
  align-items: center; 
  
}

.greet svg { 
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.innerGreet { 
  display: flex;
  flex-direction: column;
} 

#topGreet { 
  font-size: 15px;
  font-weight: bold;
}

#bottomGreet { 
  font-size: 22px;
  font-weight: bolder;
}
.create {
  grid-area: create;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2%;
  
}

.create button { 
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  border-color: #393f4d;
  border-width: 1px;
  background-color: rgb(139, 158, 243);
  margin-right: 20px; 
  color: white;
}

.main {
  grid-area: main;
  background-color: #bccbde;
  padding: 20px; 
} 

/* Add the following to your existing CSS */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: auto; 
  
}



/* Update the .project CSS */

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border-left: 10px solid orange; 
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.iconReel { 
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.iconReel svg { 
  width: 20px;
  height: 20px;
  
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectDesc {
  font-size: 16px;
  margin-bottom: 10px;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
 
}

.icon {
  font-size: 24px;
}

.announce {
  grid-area: ann;
  background-color: #bccbde; 
  padding: 20px;
}

.innerAnn { 
  padding: 20px;
  background-color: white; 
  border-radius: 10px;
  margin-bottom: 10px; 
  width: 80%; 
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
 
.announceTitle { 
  font-weight: bold;
  margin-left: 10px;
}
.announceDesc { 
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-left: 10px;
}

.trending { 
  grid-area: trend;
  background-color: #bccbde;
  padding: 20px;
  

}

.innerTrending { 
  height: 70%;
  background-color: white;  
  border-radius: 10px;
  width: 90%;
  padding: 10px; 
  
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.trendingIconList { 
  list-style: none;
}

.tagContent { 
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.tagBox {
  list-style: none; 
  margin-left: 10px;
}

.tagName { 
  margin-top: 10px;
}

.icon { 
  width: 30px ;
  height: 30px; 
}
