.container {
  display: grid;
  grid-template-areas:
  "list header header header"
  "list main main ann"
  "list main main ann"
  "list main main trend"
  "list main main trend";

  grid-template-columns: 1fr 2fr 2fr 1.5fr;
  grid-template-rows: auto repeat(4, 1fr);
  height: 100vh;
}


.homeLogo { 
  grid-area: logo;
  display: grid;
  background-color: #FF7755;
  align-self: start;
  margin-bottom: 20px; 
  grid-template-columns: auto 1fr;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.sideBar {
  grid-area: list;
  gap: 50px;
  background-color: #FF7755;
  padding: 10px;
  grid-template-columns: auto 1fr; /* add this line */
} 

.logoText { 
  align-self: center;
  margin-left: -5px;
}

.list { 
  grid-area: list; 
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.list a { 
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  color: inherit;
  
}

.list a svg { 
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: blue;
}

.homeLogo svg { 
  margin-right: 10px;
  width: 50px;
  height: 50px;
  fill: blue;
}


.headerBar {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "search search search alert"
    "greet greet create create";
  grid-template-columns: auto 3fr 1fr auto;
  grid-template-rows: 1fr 1fr;
  background-color: #393f4d;
  color: black;
  padding: 20px;
  border: 1px solid red;
  background-color: #FFFFFF;

}

.search-container {
  grid-area: search;
  display: flex;
  align-items: center; 
  padding: 10px;
} 

.search-container svg { 
  width: 30px;
  height: 30px;
}

.search-container input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  outline: none;
  width: 20rem;
  background-color: lightgray;
}

.alert {
  display: flex;
  grid-area: alert;
  align-items: center;
  gap: 10px; 
  padding: 10px;
} 

.alert #name { 
  margin-left: -8px;

}

.alert svg { 
  width: 30px;
  height: 30px;
}

.greet { 
  display: flex;
  grid-area: greet;
  padding: 2%;
  justify-content: flex-start;
  align-items: center;
}

.greet svg { 
  width: 40px;
  height: 40px;
}

.innerGreet { 
  display: flex;
  flex-direction: column;
} 

#topGreet { 
  font-size: 15px;
}

#bottomGreet { 
  font-size: 22px;
}
.create {
  grid-area: create;
  align-self: center;
  
  
}

.create button { 
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  border-color: #393f4d;
  border-width: 1px;
  background-color:blue;
  margin-right: 20px; 
  color: white;
}

.main {
  grid-area: main;
  background-color: #bccbde;
  border: solid;
  padding: 20px;
} 

/* Add the following to your existing CSS */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-auto-rows: minmax(200px, auto);
}

/* Update the .project CSS */

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 10px;
}

.card {
  background-color: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.iconReel { 
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 10px;
}
.iconReel svg { 
  width: 20px;
  height: 20px;
  
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectDesc {
  font-size: 16px;
  margin-bottom: 10px;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  font-size: 24px;
}

.announce {
  grid-area: ann;
  background-color: #bccbde;
  padding: 20px;
}

.innerAnn { 
  border: solid;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;

}